# .env.example
# Configurações do Servidor
PORT=3000

# Configurações do PostgreSQL
PGHOST=localhost
PGPORT=5432
PGDATABASE=node_tasks_db
PGUSER=postgres
PGPASSWORD=sua_senha_do_postgres

# Variável de segurança crucial para a sessão.
# Deve ser uma string longa e aleatória
SESSION_SECRET=chave_secreta_para_a_sessao